# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/
env/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Conda
.python-version

# Datasets
scikit_learn_data/
mne_data/
